<!DOCTYPE html>
<html class="no-js" lang="zxx">
<head>
 <meta charset="utf-8">
 <meta http-equiv="x-ua-compatible" content="ie=edge">
 <title>csgo2Teaching</title>
 <meta name="author" content="Vecuro">
 <meta name="description" content="Zocker - eSports and Gaming HTML Template">
 <meta name="keywords" content="Zocker - eSports and Gaming HTML Template">
 <meta name="robots" content="INDEX,FOLLOW">
 <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">
 <meta name="msapplication-TileColor" content="#ffffff">
 <meta name="msapplication-TileImage" content="assets/img/favicons/ms-icon-144x144.png">
 <meta name="theme-color" content="#ffffff">
 <link rel="stylesheet" href="static/css/all.css">
 <link rel="stylesheet" href="static/css/app.min.css">
 <link rel="stylesheet" href="static/css/fontawesome.min.css">
 <link rel="stylesheet" href="static/css/style.css">
 <link rel="stylesheet" href="static/css/theme-color1.css">
</head>
<body>
<div id="vueapp">
 <header class="header-wrapper header-layout1 position-absolute top-0 start-0 w-100 z-index-step1">
  <div class="header-top">
   <div class="container">
    <div class="row py-md-2">
     <div class="col-sm-6 d-none d-md-block">
      <p class="mb-0 fs-xs text-light">看看您喜欢的 <a class="text-white" href="team.html"><u class="fab fa-xbox">&nbsp;战队</u></a></p>
     </div>
     <div class="col-sm-6 text-end d-none d-md-block">
      <ul class="social-links fs-xs text-white">
       <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
       <li><a href="#"><i class="fab fa-twitter"></i></a></li>
       <li><a href="#"><i class="fab fa-twitch"></i></a></li>
       <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
       <li><a href="#"><i class="fab fa-youtube"></i></a></li>
      </ul>
     </div>
    </div>
   </div>
  </div>
  <div class="header-main" data-overlay="black" data-opacity="7">
   <div class="container position-relative">
    <div class="row align-items-center">
     <div class="col-6 col-lg-4 d-block d-xl-none py-3 py-xl-0">
      <div class="header-logo">
       <a href="index.html"><img src="static/picture/logo-2.png" alt=" "></a>
      </div>
     </div>
     <div class="col-6 col-lg-8 col-xl-5 text-end text-xl-start">
      <nav class="main-menu menu-style1 mobile-menu-active" data-expand="992">
       <ul>
        <li><a href="index.html">首页</a></li>
        <li><a href="about.html">关于我们</a></li>
        <!--        TODO:修改相对应的代码完成带参数跳转指定内容-->
        <li class="mega-menu-wrap"><a href="#">教学&nbsp;&nbsp;<i class="fas fa-arrow-down"></i></a>
         <ul class="mega-menu">
          <!--            栏目渲染开始-->
          <li v-for="(item,index) in classtabList" :key="index">
           <a href="teaching.html">
            <span>{{item.cName}}</span>
            <span style="float:right">{{item.cCnname}}</span>
           </a>
           <ul>
            <img :src ="item.cImg" alt="">
           </ul>
          </li>
          <!--            栏目渲染结束-->
         </ul>
        </li>
        <!--        TODO：结束-->


        <li><a href="#">新闻&nbsp;&nbsp;<i class="fas fa-arrow-down"></i></a>
         <ul class="sub-menu">
          <li>
           <a v-bind:href="'blog.html?lId='+1">
            <span>赛事新闻</span>
           </a>

          </li>
          <li>

           <a v-bind:href="'blog.html?lId='+2">
            <span>更新内容</span>
           </a>


          </li>
         </ul>
        </li>
        <li><a href="contact.html">加入我们</a></li>
       </ul>
      </nav>
      <button type="button" class="vs-menu-toggle text-white d-inline-block d-lg-none"><i class="far fa-bars"></i></button>
     </div>

     <div class="col-md-4 col-lg-2 text-center d-none d-xl-block">
      <div class="header-logo1">
       <a href="index.html"><img src="static/picture/logo-2.png" alt="Zocker"></a>
      </div>
     </div>
     <div class="col-md-4 col-lg-5 d-none d-xl-block">
      <div class="header-right d-flex align-items-center justify-content-end">
       <a href="#" class="vs-btn outline1 d-none d-xl-inline-block"><i class="fab fa-steam"></i><strong>&nbsp;Goto Steam</strong></a>
       <ul class="header-list1 list-style-none ml-30">
        <li><button class="searchBoxTggler"><i class="fas fa-search"></i></button></li>
        <li><button class="sideMenuToggler"><i class="fas fa-user-alt"></i></button></li>
       </ul>
      </div>
     </div>
    </div>
   </div>
  </div>
 </header>
  <div class="header-top">
   <div class="container">
    <div class="row py-md-2">
     <div class="col-sm-6 d-none d-md-block">
      <p class="mb-0 fs-xs text-light">看看您喜欢的 <a class="text-white" href="team.html"><u class="fab fa-xbox">&nbsp;战队</u></a></p>
     </div>
     <div class="col-sm-6 text-end d-none d-md-block">
      <ul class="social-links fs-xs text-white">
       <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
       <li><a href="#"><i class="fab fa-twitter"></i></a></li>
       <li><a href="#"><i class="fab fa-twitch"></i></a></li>
       <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
       <li><a href="#"><i class="fab fa-youtube"></i></a></li>
      </ul>
     </div>
    </div>
   </div>
  </div>
  <div class="header-main" data-overlay="black" data-opacity="7">
   <div class="container position-relative">
    <div class="row align-items-center">
     <div class="col-6 col-lg-4 d-block d-xl-none py-3 py-xl-0">
      <div class="header-logo">
       <a href="index.html"><img src="static/picture/logo-2.png" alt=" "></a>
      </div>
     </div>
     <div class="col-6 col-lg-8 col-xl-5 text-end text-xl-start">
      <nav class="main-menu menu-style1 mobile-menu-active" data-expand="992">
       <ul>
        <li><a href="index.html">首页</a></li>
        <li><a href="about.html">关于我们</a></li>
        <li class="mega-menu-wrap"><a href="#">教学&nbsp;&nbsp;<i class="fas fa-arrow-down"></i></a>
         <ul class="mega-menu">
          <!--            栏目渲染开始-->
          <li v-for="(item,index) in classtabList" :key="index">
           <a href="teaching.html">
            <span>{{item.cName}}</span>
            <span style="float:right">{{item.cCnname}}</span>
           </a>
           <ul>
            <img :src ="item.cImg" alt="">
           </ul>
          </li>
          <!--            栏目渲染结束-->
         </ul>
        </li>


        <li><a href="#">新闻&nbsp;&nbsp;<i class="fas fa-arrow-down"></i></a>
         <ul class="sub-menu">
          <li>
           <a v-bind:href="'blog.html?lId='+1">
            <span>赛事新闻</span>
           </a>

          </li>
          <li>

           <a v-bind:href="'blog.html?lId='+2">
            <span>更新内容</span>
           </a>


          </li>
         </ul>
        </li>
        <li><a href="contact.html">加入我们</a></li>
       </ul>
      </nav>
      <button type="button" class="vs-menu-toggle text-white d-inline-block d-lg-none"><i class="far fa-bars"></i></button>
     </div>

     <div class="col-md-4 col-lg-2 text-center d-none d-xl-block">
      <div class="header-logo1">
       <a href="index.html"><img src="static/picture/logo-2.png" alt="Zocker"></a>
      </div>
     </div>
     <div class="col-md-4 col-lg-5 d-none d-xl-block">
      <div class="header-right d-flex align-items-center justify-content-end">
       <a href="#" class="vs-btn outline1 d-none d-xl-inline-block"><i class="fab fa-steam"></i><strong>&nbsp;Goto Steam</strong></a>
       <ul class="header-list1 list-style-none ml-30">
        <li><button class="searchBoxTggler"><i class="fas fa-search"></i></button></li>
        <li><button class="sideMenuToggler"><i class="fas fa-user-alt"></i></button></li>
       </ul>
      </div>
     </div>
    </div>
   </div>
  </div>
 </header>
 <div class="breadcumb-wrapper breadcumb-layout1 pt-200 pb-50" data-bg-src="assets/img/breadcumb/breadcumb-1.jpg" data-overlay="">
  <div class="container z-index-common">
   <div class="breadcumb-content text-center">
    <h1 class="breadcumb-title h1 text-white my-0">关于我们</h1>
    <h2 class="breadcumb-bg-title">About us</h2>
    <ul class="breadcumb-menu-style1 text-white mx-auto fs-xs">
     <li><a href="index.html"><i class="fas fa-reply"></i>返回</a></li>
     <li class="active">About us</li>
    </ul>
   </div>
  </div>
 </div>
</div>

 <section class="vs-about-wrapper space">
   <div class="container">
    <div class="row flex-lg-row-reverse">
     <div class="col-md-8 col-lg-6 mb-40 mb-xl-0">
      <div class="hover-shape position-relative img-box2 text-start text-xl-end">
       <div class="shape1 position-absolute start-0 top-0 ml-15">
        <img src="static/picture/about-2-2.png" alt="Shape">
       </div>
       <div class="shape2 position-absolute">
        <img src="static/picture/about-2-3.png" alt="Shape">
       </div>
       <img src="static/picture/about-2-1.png" alt="About Image"> 
       <a href="#" class="play-btn overlay-center"><i class="fas fa-play"></i></a>
      </div>
     </div>
     <div class="col-lg-6">
      <span class="sub-title2 mb-30">所有玩家都能拥有一个职业梦</span>
      <h2 class="sec-title1 mb-15">关于我们</h2>
      <p class="fs-18 text-justify">独家见解、最新消息、内容和令人兴奋的优惠。在全球范围内定制具有潜在利基市场的综合社区。热情地协调可扩展的客户服务。</p>
      <ul class="about-list fs-18 list-style-none mb-35">
       <li>专业的现役电竞选手讲解教学</li>
       <li>丰富的频道内容和社区文化</li>
       <li>价格优惠的周边商城</li>
       <li>最新的赛事咨询与更新消息</li>
      </ul>
      <a href="team.html" class="vs-btn gradient-btn">我们入驻的战队</a>
     </div>
    </div>
   </div>
  </section>

<section class="vs-newsletter-wrapper bg-dark z-index-step1">
 <div class="container">
  <div class="position-relative">
   <div class="inner-wrapper bg-black position-absolute top-50 start-50 translate-middle w-100 px-60 py-40">
    <div class="row align-items-center justify-content-center">
     <div class="col-xl-6 text-center text-xl-start mb-3 mb-xl-0">
      <span class="sub-title2 mt-2">订阅</span>
      <h2 class="mb-0 text-white">获取最新咨询</h2>
     </div>
     <div class="col-md-10 col-lg-8 col-xl-6">
      <form action="#" class="newsletter-style1 d-md-flex">
       <input type="email" class="form-control" placeholder="Enter email address">
       <button class="vs-btn gradient-btn">发送您的邮件地址</button>
      </form>
     </div>
    </div>
   </div>
  </div>
 </div>
</section>
 <footer class="footer-wrapper footer-layout1 bg-fluid bg-major-black position-relative">
  <div class="bg-fluid d-none d-none d-xl-block position-absolute start-0 top-0 w-100 h-100" data-bg-src="assets/img/bg/footer-bg-1-1.jpg"></div>
  <div class="footer-widget-wrapper dark-style1 z-index-common">
   <div class="container">
    <div class="row justify-content-between">
     <div class="col-md-6 col-lg-3 col-xl-4">
      <div class="widget footer-widget pt-0">
       <h3 class="widget_title">关于我们</h3>
       <div class="vs-widget-about">
        <p class="about-text text-footer1 pe-xl-5">csgo2教学网是一个提供详细教学和指南的网站，旨在帮助玩家快速掌握游戏技巧和策略。通过这些教学内容，csgo2教学网旨在帮助玩家从新手成长为高手，无论是射击技巧、地图理解还是团队策略，都能得到全面的指导。</p>
        <div class="d-flex gap-2 text-white mt-45">
         <a class="icon-btn1 skew-right" href="#"><i class="fab fa-facebook-f"></i></a>
         <a class="icon-btn1 skew-right" href="#"><i class="fab fa-twitter"></i></a>
         <a class="icon-btn1 skew-right" href="#"><i class="fab fa-linkedin-in"></i></a>
         <a class="icon-btn1 skew-right" href="#"><i class="fab fa-youtube"></i></a>
        </div>
       </div>
      </div>
     </div>
     <div class="col-md-10 col-lg-7 col-xl-4">
      <img src="static/picture/logo-2.png">
     </div>
    </div>
   </div>
  </div>
  <div class="footer-copyright bg-black z-index-step1">
   <div class="container">
    <div class="row">
     <div class="col-xl-8 d-none d-xl-block">
      <div class="footer-menu">
       <ul>
       </ul>
      </div>
     </div>
     <div class="col-xl-4 align-self-center text-center py-3 py-xl-0 text-xl-end">
      <p class="text-light fw-bold text-bold mb-0">Copyright &copy; 2021.Company name All rights reserved.<a target="_blank" href="https://www.counter-strike.net/cs2">csgo2官网</a></p>
     </div>
    </div>
   </div>
  </div>
 </footer>
 <a href="#" class="scrollToTop icon-btn3"><i class="far fa-angle-up"></i></a>
 <div class="vs-cursor"></div>
 <div class="vs-cursor2"></div>
<script src="static/js/jquery-1.12.4.min.js"></script>
<script src="static/js/app.min.js"></script>
<script src="static/js/vscustom-carousel.min.js"></script>
<script src="static/js/vs-cursor.min.js"></script>
<script src="static/js/vsmenu.min.js"></script>
<script src="https://ditu.google.cn/maps/api/js?key=AIzaSyDC3Ip9iVC0nIxC6V14CKLQ1HZNF_65qEQ"></script>
<script src="static/js/map.js"></script>
<script src="static/js/ajax-mail.js"></script>
<script src="static/js/main.js"></script>
<script src="static/vue/axios.min.js"></script>
<script src="static/vue/vue.js"></script>
<script src="static/vue/vue-router.global.js"></script>
<script>
 const {createApp}  = Vue
 const App = createApp({
  methods:{
   getClassTab(){
    axios.get('http://localhost:8080/classtab?op=query')
            .then(res=>{
             if(res.status === 200){
              this.classtabList=res.data
              this.isLoading = false
             }

            })
   },
   getzdTab(){
    axios.get('http://localhost:8080/zdtab?op=queryzd&'+this.url)
            .then(res=>{
             if(res.status === 200){
              this.zdtabList=res.data[0]
              console.log(this.zdtabList)

             }

            })
   },
   getdynum(){
    axios.get('http://localhost:8080/dy?op=querylist&'+this.url)
            .then(res=>{
             if(res.status === 200){
              this.dynum=res.data.length
              console.log(this.dynum)
              this.dyList=res.data
              console.log(this.dyList)

             }

            })

   },


  },


  data(){
   return{
    classtabList: [],
    zdtabList: [],
    dyList: [],
    url:'',
    dynum:''
   }
  },
  mounted(){
   var  url = decodeURI(window.location.href.split('?')[1]);
   this.url = url
   this.getClassTab()
   this.getzdTab()
   this.getdynum()
  },

 })
 App.mount('#vueapp')
</script>
 </body>
</html>