<!DOCTYPE html>
<html class="no-js" lang="zxx">
 <head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>csgo2Teaching</title>
  <meta name="author" content="Vecuro">
  <meta name="description" content="Zocker - eSports and Gaming HTML Template">
  <meta name="keywords" content="Zocker - eSports and Gaming HTML Template">
  <meta name="robots" content="INDEX,FOLLOW">
  <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">
  <meta name="theme-color" content="#ffffff">
  <link rel="stylesheet" href="static/css/all.css">
  <link href="static/css/css2.css" rel="stylesheet">
  <link rel="stylesheet" href="static/css/app.min.css">
  <link rel="stylesheet" href="static/css/style.css">
  <link rel="stylesheet" href="static/css/theme-color1.css">

 </head>
 <body>
 <div id="vueapp">
  <header class="header-wrapper header-layout2 position-absolute top-0 start-0 w-100 z-index-step1 mt-30">
   <div class="container position-relative">
    <div class="bg-fluid" data-bg-src="assets/img/shape/header-bg-2-1.jpg">
     <div class="animate-line px-30 py-1">
      <div class="row">
       <div class="col-sm-6 d-none d-sm-block">
        <p class="mb-0 fs-xs text-light">看看您喜欢的 <a class="text-white" href="team.html"><u class="fab fa-xbox">&nbsp;战队</u></a></p>
       </div>
       <div class="col-sm-6 text-center text-sm-end">
        <ul class="social-links fs-xs text-light">
         <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
         <li><a href="#"><i class="fab fa-twitter"></i></a></li>
         <li><a href="#"><i class="fab fa-twitch"></i></a></li>
         <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
         <li><a href="#"><i class="fab fa-youtube"></i></a></li>
        </ul>
       </div>
      </div>
     </div>
     <div class="px-30">
      <div class="row align-items-center">
       <div class="col-6 col-lg-3 col-xl-2">
        <div class="header-logo py-3 py-lg-0">
         <a href="index.html"><img src="static/picture/logo-2.png" alt=" "></a>
        </div>
       </div>
       <div class="col-6 col-lg-6 col-xl-5 text-end">



        <nav class="main-menu menu-style1 mobile-menu-active">
         <ul>
          <li><a href="index.html">首页</a></li>
          <li><a href="about.html">关于我们</a></li>
          <!--TODO:修改相对应的代码完成带参数跳转指定内容-->
          <li class="mega-menu-wrap"><a href="#">教学&nbsp;&nbsp;<i class="fas fa-arrow-down"></i></a>
           <ul class="mega-menu">
            <!--            栏目渲染开始-->
            <li v-for="(item,index) in classtabList" :key="index">
             <a v-bind:href="'/teaching.html?cId='+item.cId">
              <span>{{item.cName}}</span>
              <span style="float:right">{{item.cCnname}}</span>
             </a>
             <ul>
              <img :src ="item.cImg" alt="">
             </ul>
            </li>
            <!--            栏目渲染结束-->
           </ul>
          </li>
          <!--TODO:结束-->

          <li><a href="#">新闻&nbsp;&nbsp;<i class="fas fa-arrow-down"></i></a>
           <ul class="sub-menu">
            <li>
             <a v-bind:href="'blog.html?lId='+1">
            <span>赛事新闻</span>
             </a>

            </li>
            <li>

             <a v-bind:href="'blog.html?lId='+2">
             <span>更新内容</span>
             </a>


            </li>
           </ul>
          </li>
          <li><a href="contact.html">加入我们</a></li>
         </ul>
        </nav>





        <button type="button" class="vs-menu-toggle text-white d-inline-block d-lg-none"><i class="fas fa-bars"></i></button>
       </div>
       <div class="col-lg-3 col-xl-5 d-none d-lg-block">
        <div class="header-right d-flex align-items-center justify-content-end">
         <a href="https://store.steampowered.com" class="vs-btn outline1 d-none d-xl-inline-block"><i class="fab fa-steam"></i><strong>&nbsp;Goto Steam</strong></a>
         <ul class="header-list1 list-style-none ml-30">
          <li><button class="searchBoxTggler"><i class="fas fa-search"></i></button></li>
          <li><button class="sideMenuToggler"><i class="fas fa-user-alt"></i></button></li>
         </ul>
        </div>
       </div>
      </div>
     </div>
    </div>
   </div>
  </header>
 </div>
  <section class="vs-hero-wrapper hero-layout2">

   <div class="vs-hero-carousel" data-height="1010" data-sm-height="1200" data-container="1920" data-slidertype="responsive" >
    <a href="#" class="ls-arrow text-white d-none d-xl-inline-block" data-ls-go="next">下一个<i class="fas fa-arrow-right"></i></a>
    <a href="#" class="ls-arrow text-white d-none d-xl-inline-block" data-ls-go="prev"><i class="fas fa-arrow-left"></i>上一个</a>



    <div class="ls-slide" data-ls="duration: 8000; transition2d: 5;">
     <img src="static/picture/hero-img-1.jpg" alt="" class="ls-bg">
     <div class="ls-l ls-hide-phone ls-hide-tablet" style="z-index: 99; left: -370px; top: 100%; width: 1920px; height: 112px; background-color: #ffffff; clip-path: polygon(0px 0px, 100% 100%, 100% 100%, 0% 100%);" data-ls="static: forever; transitionin: true; durationin: 0; delayin: 1;"></div>
     <p class="ls-l mb-2 mb-md-0 ls-hide-phone ls-hide-tablet" style="left: 995px; top: 365px; width: 318px; min-width: 200px; min-height: 15px; height: 30px; line-height: 1; padding: 5px 40px; background-image: -webkit-linear-gradient(0deg, rgb(75, 21, 135) 0%, rgb(156, 85, 235) 100%);" data-ls="offsetxin: 100; durationin: 1000; delayin: 0; easingin:easeOutQuint;  transitionout: true; offsetxout: 600; durationout: 3000; fadeout: true; skewxout: 10;"></p>
     <p class="ls-l ls-hide-phone ls-hide-tablet" style="left: 1035px; top: 378px; text-transform: uppercase; color: #ffffff; font-weight: 700; font-size: 16px; line-height: 1; letter-spacing: 0.2em;" data-ls="minfontsize: 8px; offsetxin: 100; durationin: 1000; delayin: 100; easingin:easeOutQuint; texttransitionin: true; texttypein: chars_asc; textstartatin: transitioninstart; textdurationin: 500; textfadein: true; textoffsetxin: -20; textshiftin: -20;  transitionout: true; offsetxout: 600; durationout: 3000; fadeout: true; skewxout: 10;">职业电竞队</p>
     <h2 class="ls-l ls-hide-phone ls-hide-tablet" style="left: 992px; top: 415px; text-transform: uppercase; color: #ffffff; font-weight: 700; font-size: 72px; letter-spacing: -0.03em;" data-ls="durationin: 1000; delayin: 200; easingin:easeOutQuint; texttransitionin: true; textfadein: true; texttypein: words_asc; textstartatin: transitioninstart; textshiftin: 300; textoffsetyin: 50; transitionout: true; offsetxout: 500; durationout: 3000; fadeout: true; skewxout: 10;">CSGO2 WEB</h2>
     <h2 class="ls-l ls-hide-phone ls-hide-tablet" style="left: 990px; top: 495px; text-transform: uppercase; color: #ffffff; font-weight: 700; font-size: 72px; letter-spacing: -0.03em;" data-ls="durationin: 1000; delayin: 300; easingin:easeOutQuint; texttransitionin: true; textfadein: true; texttypein: words_asc; textstartatin: transitioninstart; textshiftin: 300; textoffsetyin: 50; transitionout: true; offsetxout: 400; durationout: 3000; fadeout: true; skewxout: 10;">电竞俱乐部</h2>
     <p class="ls-l ls-hide-phone ls-hide-tablet" style="left: 996px; top: 590px; color: #b0b1be; font-size: 18px; width: 900px; white-space: normal;" data-ls="minfontsize: 16px; durationin: 1000; delayin: 400; easingin:easeOutQuint; offsetyin: 50; transitionout: true; offsetxout: 300; durationout: 3000; fadeout: true; skewxout: 10;">手法决定一切</p>
     <div class="ls-l ls-hide-phone ls-hide-tablet" style="left: 996px; top: 650px;" data-ls="durationin: 1000; delayin: 500; easingin:easeOutQuint; offsetyin: 50; transitionout: true; offsetxout: 300; durationout: 3000; fadeout: true; skewxout: 10;">
      <div class="vs-btn-group">
       <a href="team.html" class="vs-btn gradient-btn">遇见更多战队</a>
      </div>
     </div>
     </div>
   </div>
  </section>

  <section class="vs-about-wrapper position-relative pt-165 space-bottom">
   <div class="position-absolute bottom-0 end-0 d-none d-lg-block">
    <img src="static/picture/about-1-1.png" alt="BG Shape">
   </div>
   <div class="position-absolute bottom-0 start-0 d-none d-lg-block">
    <img src="static/picture/about-1-2.png" alt="BG Shape">
   </div>
   <div class="container z-index-common">
    <div class="row">
     <div class="col-lg-6 mb-20 mb-lg-0">
      <div class="img-box1 hover-shape">
       <img src="static/picture/about-1-11.png" class="w-100 d-block" alt="About Image">
       <div class="exp-box1 text-start">
        <h2 class="h1 text-gradient mb-0 counter"><span class="number">5</span>+</h2>
        <p class="exp-text mb-0">Years Of Experience</p>
       </div>
      </div>
     </div>
     <div class="col-lg-6 align-self-center">
      <div class="about-content1 pl-35">
       <h2 class="sec-title2">电竞名言</h2>
       <p class="mb-30 text-justify">电竞之路，虽千万人吾往矣。”这句话充满了决心与勇气，激励着我们迎难而上，不断超越自我。</p>
       <h3 class="h5 font-theme">from - AG一诺</h3>
       <div class="sign mb-15">
        <img src="static/picture/sign-1.png" alt="Sign">
       </div>
      </div>
     </div>
    </div>
   </div>
  </section>

  <section class="vs-timetable-wrapper vs-timetable-layout1 space" data-bg-src="assets/img/bg/timetable-bg-1.jpg">
   <div class="container pb-35">
    <div class="row">
     <div class="col-md-5 col-lg-6 col-xl-6">
      <div class="section-title has-title-rotate">
       <span class="title-rotate">#schedule</span>
       <h2 class="sec-title1 text-white">STREAM TIMETABLE</h2>
      </div>
     </div>
    </div>
    <div class="text-center text-xl-end">
     <div class="timetable-style1">
      <div class="d-flex gap-2 justify-content-center">
       <div class="timetable-box">
        <p class="time mb-0">2:00 AM - 9:00 AM cet</p>
        <p class="day mb-0">星期一</p>
        <p class="name mb-0">复盘</p>
       </div>
       <div class="timetable-box">
        <p class="time mb-0">2:00 AM - 9:00 AM cet</p>
        <p class="day mb-0">星期二</p>
        <p class="name mb-0">开干</p>
       </div>
      </div>
      <div class="d-flex gap-2 justify-content-center">
       <div class="timetable-box">
        <p class="time mb-0">2:00 AM - 9:00 AM cet</p>
        <p class="day mb-0">星期三</p>
        <p class="name mb-0">复盘</p>
       </div>
       <div class="timetable-box">
        <p class="time mb-0">2:00 AM - 9:00 AM cet</p>
        <p class="day mb-0">星期四</p>
        <p class="name mb-0">开干</p>
       </div>
       <div class="timetable-box">
        <p class="time mb-0">2:00 AM - 9:00 AM cet</p>
        <p class="day mb-0">星期五</p>
        <p class="name mb-0">复盘</p>
       </div>
       <div class="timetable-box">
        <p class="time mb-0">2:00 AM - 9:00 AM cet</p>
        <p class="day mb-0">星期六</p>
        <p class="name mb-0">开干</p>
       </div>
      </div>
      <div class="d-flex gap-2 justify-content-center">
       <div class="timetable-box">
        <p class="time mb-0">2:00 AM - 9:00 AM cet</p>
        <p class="day mb-0">星期日</p>
        <p class="name mb-0">休息</p>
       </div>
      </div>
     </div>
    </div>
   </div>
  </section>
  <section class="vs-streams-wrapper bg-secondary space-bottom">
   <div class="container">
    <div class="px-60 pb-60 shadow-sm-1 bg-white space-top">
     <div class="row">
      <div class="col-xl-6 col-lg-7 col-md-8">
       <div class="section-title has-title-rotate">
        <span class="title-rotate">#schedule</span>
        <h2 class="sec-title1">CSGO2战队</h2>
       </div>
      </div>
     </div>
     <div class="text-center">
      <div class="filter-menu-style1 mb-40 vs-slider-tab redwan" data-asnavfor="#slideStrem">
       <a href="#" class="tab-btn active">G2 Esports </a>
       <a href="#" class="tab-btn">Spirit </a>
       <a href="#" class="tab-btn">Vitality</a>
       <a href="#" class="tab-btn">MOUZ</a>
       <a href="#" class="tab-btn">NAVI</a>
      </div>
      <div class="position-relative arrow-wrap">
       <div id="slideStrem" class="strem-video1 vs-carousel arrow-white" data-slide-show="1" data-arrows="true" data-speed="500" data-infinite="fasle">
        <div class="position-relative image-scale-hover">
         <a class="popup-video" href="#"><img class="w-100 h-100" src="static/picture/g2-big.jpg" alt="Video Thumb"></a>
        </div>
        <div class="position-relative image-scale-hover">
         <a class="popup-video" href="#"><img class="w-100 h-100" src="static/picture/Spirit-big.jpg" alt="Video Thumb"></a>

        </div>
        <div class="position-relative image-scale-hover">
         <a class="popup-video" href="#"><img class="w-100 h-75" src="static/picture/vitality-big.jpg" alt="Video Thumb"></a>

        </div>
        <div class="position-relative image-scale-hover">
         <a class="popup-video" href="#"><img class="w-100 h-100" src="static/picture/mouz.big.jpg" alt="Video Thumb"></a>

        </div>
        <div class="position-relative image-scale-hover">
         <a class="popup-video" href="#"><img class="w-100" src="static/picture/navi-big.jpg" alt="Video Thumb"></a>
        </div>
       </div>
      </div>
     </div>
    </div>
   </div>
  </section>
  <section class="vs-contact-wrapper bg-light-dark space">
   <div class="container">
    <div class="row gx-60">
     <div class="col-lg-6 mb-30 mb-lg-0">
      <div class="row">
       <div class="col-11 col-md-6 col-lg-12">
        <div class="section-title has-title-rotate">
         <span class="title-rotate">#schedule</span>
         <h2 class="sec-title1 text-white">欢迎与我们联系</h2>
        </div>
       </div>
      </div>
      <div class="info-box2 px-60 py-60 mb-40">
       <div class="info-style1 text-center text-sm-start">
        <span class="icon-btn2"><i class="fas fa-map-marker-alt"></i></span>
        <p class="fs-4 lh-1 fw-medium text-white mb-1 mb-sm-0">地址</p>
        <p class="text-white mb-0">福建省漳州市招商局芯云谷3号楼504室</p>
       </div>
       <div class="info-style1 text-center text-sm-start">
        <span class="icon-btn2"><i class="fas fa-phone"></i></span>
        <p class="fs-4 lh-1 fw-medium text-white mb-1 mb-sm-0">电话</p>
        <p class="text-white mb-0"><a href="tel:13456789" class="text-inherit">18888888888</a></p>
       </div>
       <div class="info-style1 text-center text-sm-start">
        <span class="icon-btn2"><i class="fas fa-envelope"></i></span>
        <p class="fs-4 lh-1 fw-medium text-white mb-1 mb-sm-0">电子邮件</p>
        <p class="text-white mb-0"><a href="https://csgo2web@outlook.com" class="text-inherit">csgo2web@outlook.com</a></p>
       </div>
      </div>
      <span class="text-white fw-medium fs-4">关注我们的账户:</span>
      <div class="d-inline-flex gap-2 mt-2 mt-sm-0 ms-sm-3">
       <a class="icon-btn3" href="#"><i class="fab fa-facebook-f"></i></a>
       <a class="icon-btn3" href="#"><i class="fab fa-twitter"></i></a>
       <a class="icon-btn3" href="#"><i class="fab fa-linkedin-in"></i></a>
       <a class="icon-btn3" href="#"><i class="fab fa-instagram"></i></a>
      </div>
     </div>
     <div class="col-lg-6">
      <form action="mail.php" method="POST" class="contact-form contact-form-style1 form-dark px-60 py-60">
       <div class="row">
        <div class="col-lg-12 form-group">
         <label class="text-white" for="name">您的 姓名</label>
         <input type="text" id="name" name="name" class="form-control" placeholder="请填写您的姓名">
         <i class="fas fa-user"></i>
        </div>
        <div class="col-lg-12 form-group">
         <label class="text-white" for="email">您的 邮件地址</label>
         <input type="text" id="email" name="email" class="form-control" placeholder="请填写您的邮件地址">
         <i class="fas fa-envelope"></i>
        </div>
        <div class="col-12 form-group">
         <label class="text-white" for="message">您的 建议</label>
         <textarea class="form-control" id="message" rows="5" cols="50" name="message" placeholder=""></textarea>
         <i class="fas fa-pencil-alt"></i>
        </div>
        <div class="col-12 form-group mb-0">
         <button type="submit" class="vs-btn gradient-btn">发送您的建议</button>
         <p class="form-messages text-white mt-20 mb-0"></p>
        </div>
       </div>
      </form>
     </div>
    </div>
   </div>
  </section>




  <section class="vs-blog-wrapper vs-blog-layout2 link-inherit space-top space-md-bottom" id="blog">
   <div id="newsapp">
   <div class="container">
    <div class="row">
     <div class="col-xl-6 col-lg-7 col-md-5 col-sm-6">
      <div class="section-title has-title-rotate">
       <span class="title-rotate">#schedule</span>
       <h2 class="sec-title1">更多赛事新闻</h2>
      </div>
     </div>
    </div>
    <div class="row vs-carousel arrow-margin" data-arrows="true" data-slide-show="3" data-md-slide-show="2" data-sm-slide-show="1" data-xs-slide-show="1">

     <div class="col-xl-6" v-for="(item,index) in newsList" :key="index">
      <div class="vs-blog image-scale-hover">
       <a v-bind:href="'blog-details.html?lId='+item.lId+'&nId='+item.nId" class="overlay"></a>
       <div class="blog-image">
        <a v-bind:href="'blog-details.html?lId='+item.lId+'&nId='+item.nId"><img :src="item.nImg" class="w-100" alt="Blog Image"></a>
       </div>
       <div class="blog-content">
        <div class="blog-meta text-light fs-xs mb-10 text-white">
         <a v-bind:href="'blog-details.html?lId='+item.lId+'&nId='+item.nId"><i class="fas fa-calendar-alt"></i>{{item.nCtime}}</a>
        </div>
        <h3 class="blog-title h5 font-theme mb-0 text-white"><a v-bind:href="'blog-details.html?lId='+item.lId+'&nId='+item.nId">{{item.nTitle}}</a></h3>
       </div>
      </div>
     </div>

    </div>
   </div>
   </div>
  </section>


  <section class="vs-product-wrapper vs-product-layout1 bg-dark space-top space-md-bottom">
   <div class="container">
    <div class="row">
     <div class="col-lg-6">
      <div class="section-title has-title-rotate">
       <span class="title-rotate">#schedule</span>
       <h2 class="sec-title1 text-white">更多周边优惠（开发中）</h2>
      </div>
     </div>
    </div>
    <div class="row vs-carousel arrow-margin arrow-white" data-slide-show="3" data-md-slide-show="2" data-sm-slide-show="2" data-xs-slide-show="1" data-arrows="true">
     <div class="col-xl-3">
      <div class="vs-product">
       <div class="product-img">
        <a href="teaching-details.html"><img src="static/picture/product-1.png" class="w-100" alt="Product Image"></a>
       </div>
       <div class="product-content">
        <a class="category" href="#">flored cap</a>
        <h3 class="price h1 text-white mb-0">￥39.00</h3>
       </div>
      </div>
     </div>
     <div class="col-xl-3">
      <div class="vs-product">
       <div class="product-img">
        <a href="teaching-details.html"><img src="static/picture/product-2.png" class="w-100" alt="Product Image"></a>
        <span class="label">Hot</span>
       </div>
       <div class="product-content">
        <a class="category" href="#">Dd40 Lamp</a>
        <h3 class="price h1 text-white mb-0">￥45.00</h3>
       </div>
      </div>
     </div>
     <div class="col-xl-3">
      <div class="vs-product">
       <div class="product-img">
        <a href="teaching-details.html"><img src="static/picture/product-3.png" class="w-100" alt="Product Image"></a>
       </div>
       <div class="product-content">
        <a class="category" href="#">Zigzag Lok</a>
        <h3 class="price h1 text-white mb-0">￥52.00</h3>
       </div>
      </div>
     </div>
     <div class="col-xl-3">
      <div class="vs-product">
       <div class="product-img">
        <a href="teaching-details.html"><img src="static/picture/product-4.png" class="w-100" alt="Product Image"></a>
        <span class="label">Hot</span>
       </div>
       <div class="product-content">
        <a class="category" href="#">Micro Dis</a>
        <h3 class="price h1 text-white mb-0">￥31.00</h3>
       </div>
      </div>
     </div>
     <div class="col-xl-3">
      <div class="vs-product">
       <div class="product-img">
        <a href="teaching-details.html"><img src="static/picture/product-5.png" class="w-100" alt="Product Image"></a>
        <span class="label">Hot</span>
       </div>
       <div class="product-content">
        <a class="category" href="#">Headphone 22</a>
        <h3 class="price h1 text-white mb-0">￥22.00</h3>
       </div>
      </div>
     </div>
    </div>
   </div>
  </section>


  <footer class="footer-wrapper footer-layout1 bg-fluid bg-light-dark">
   <div class="container">
    <div class="row align-items-center py-4">
     <div class="col-md-4 col-lg-5 text-center text-md-start pb-20 pb-md-0">
      <div class="footer-logo">
       <a href="index.html"><img src="static/picture/logo-2.png" alt="Logo Image"></a>
      </div>
     </div>
     <div class="col-md-8 col-lg-7 text-center text-md-end">
      <span class="text-white fw-medium fs-4">联系我们:</span>
      <div class="d-sm-inline-flex gap-2 ms-sm-3 mt-2 mt-sm-0">
       <a class="icon-btn3" href="#"><i class="fab fa-weixin"></i></a>
       <a class="icon-btn3" href="#"><i class="fab fa-linkedin-in"></i></a>
       <a class="icon-btn3" href="#"><i class="fab fa-qq"></i></a>
       <a class="icon-btn3" href="#"><i class="fab fa-instagram"></i></a>
      </div>
     </div>
    </div>
   </div>
   <div class="footer-copyright border-top border-black">
    <div class="container">
     <div class="row">
      <div class="col-xl-4 text-center text-xl-start align-self-center py-3 py-xl-0">
       <p class="text-light fw-bold text-bold mb-0">Copyright &copy; 2021.Company name All rights reserved.<a target="_blank" href="https://www.counter-strike.net/cs2">csgo2官网</a></p>
      </div>

     </div>
    </div>
   </div>
  </footer>
  <a href="#" class="scrollToTop icon-btn3"><i class="fas fa-arrow-up"></i></a>
  <div class="vs-cursor"></div>
  <div class="vs-cursor2"></div>

  <script src="static/js/jquery-1.12.4.min.js"></script>
  <script src="static/js/app.min.js"></script>
  <script src="static/js/vscustom-carousel.min.js"></script>
  <script src="static/js/vs-cursor.min.js"></script>
  <script src="static/js/vsmenu.min.js"></script>
  <script src="https://ditu.google.cn/maps/api/js?key=AIzaSyDC3Ip9iVC0nIxC6V14CKLQ1HZNF_65qEQ"></script>
  <script src="static/js/map.js"></script>
  <script src="static/js/ajax-mail.js"></script>
  <script src="static/js/main.js"></script>
 <script src="static/vue/axios.min.js"></script>
 <script src="static/vue/vue.js"></script>
 <script src="static/vue/vue-router.global.js"></script>

 <script>
  const {createApp}  = Vue
  const App = createApp({
   data(){
    return{
     classtabList:[],
     zdtabList:[],
    }
   },

   methods:{
    getList(){
     let that = this
     axios.get('http://localhost:8080/classtab?op=query')
     .then(res=>{
      console.log(res.data)
      that.classtabList=res.data
     })
    },
    getzdTab(){
     let that = this
     axios.get('http://localhost:8080/zdtab?op=querylist')
             .then(res=>{
               that.zdtabList=res.data
               console.log(that.zdtabList)

             })
    }
   },

   mounted(){
    this.getList()
    this.getzdTab()
   },
  });
  App.mount('#vueapp')
  const newsApp = createApp({
   data(){
    return{
     newsList:[],
    }
   },
   methods:{
   },
   mounted(){
    axios.get('http://localhost:8080/news?op=query')
    .then(res=>{
     this.newsList=res.data
     console.log(this.newsList)
    })
   },
  })
  newsApp.mount('#newsapp')
 </script>

 </body>
</html>