<!DOCTYPE html>
<html class="no-js" lang="zxx">
<head>
 <meta charset="utf-8">
 <meta http-equiv="x-ua-compatible" content="ie=edge">
 <title>csgo2Teaching</title>
 <meta name="author" content="Vecuro">
 <meta name="description" content="Zocker - eSports and Gaming HTML Template">
 <meta name="keywords" content="Zocker - eSports and Gaming HTML Template">
 <meta name="robots" content="INDEX,FOLLOW">
 <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">
 <meta name="msapplication-TileColor" content="#ffffff">
 <meta name="msapplication-TileImage" content="assets/img/favicons/ms-icon-144x144.png">
 <meta name="theme-color" content="#ffffff">
 <link rel="stylesheet" href="static/css/all.css">
 <link rel="stylesheet" href="static/css/app.min.css">
 <link rel="stylesheet" href="static/css/fontawesome.min.css">
 <link rel="stylesheet" href="static/css/style.css">
 <link rel="stylesheet" href="static/css/theme-color1.css">
</head>
<body>
<!-- 公共头部 vueapp 开始-->
<div id="vueapp">
<!-- TODO：修改完善完成相应的功能-->
 <header class="header-wrapper header-layout1 position-absolute top-0 start-0 w-100 z-index-step1">
  <div class="header-top">
   <div class="container">
    <div class="row py-md-2">
     <div class="col-sm-6 d-none d-md-block">
      <p class="mb-0 fs-xs text-light">看看您喜欢的 <a class="text-white" href="team.html"><u class="fab fa-xbox">&nbsp;战队</u></a></p>
     </div>
     <div class="col-sm-6 text-end d-none d-md-block">
      <ul class="social-links fs-xs text-white">
       <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
       <li><a href="#"><i class="fab fa-twitter"></i></a></li>
       <li><a href="#"><i class="fab fa-twitch"></i></a></li>
       <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
       <li><a href="#"><i class="fab fa-youtube"></i></a></li>
      </ul>
     </div>
    </div>
   </div>
  </div>
  <div class="header-main" data-overlay="black" data-opacity="7">
   <div class="container position-relative">
    <div class="row align-items-center">
     <div class="col-6 col-lg-4 d-block d-xl-none py-3 py-xl-0">
      <div class="header-logo">
       <a href="index.html"><img src="static/picture/logo-2.png" alt=" "></a>
      </div>
     </div>
     <div class="col-6 col-lg-8 col-xl-5 text-end text-xl-start">
      <nav class="main-menu menu-style1 mobile-menu-active" data-expand="992">
       <ul>
        <li><a href="index.html">首页</a></li>
        <li><a href="about.html">关于我们</a></li>
        <li class="mega-menu-wrap"><a href="#">教学&nbsp;&nbsp;<i class="fas fa-arrow-down"></i></a>
         <ul class="mega-menu">
          <!--            栏目渲染开始-->
          <li v-for="(item,index) in classtabList" :key="index">
           <a v-bind:href="'/teaching.html?cId='+item.cId">
            <span>{{item.cName}}</span>
            <span style="float:right">{{item.cCnname}}</span>
           </a>
           <ul>
            <img :src ="item.cImg" alt="">
           </ul>
          </li>
          <!--            栏目渲染结束-->
         </ul>
        </li>


        <li><a href="#">新闻&nbsp;&nbsp;<i class="fas fa-arrow-down"></i></a>
         <ul class="sub-menu">
          <li>
           <a v-bind:href="'blog.html?lId='+1">
            <span>赛事新闻</span>
           </a>

          </li>
          <li>

           <a v-bind:href="'blog.html?lId='+2">
            <span>更新内容</span>
           </a>


          </li>
         </ul>
        </li>
        <li><a href="contact.html">加入我们</a></li>
       </ul>
      </nav>
      <button type="button" class="vs-menu-toggle text-white d-inline-block d-lg-none"><i class="far fa-bars"></i></button>
     </div>

     <div class="col-md-4 col-lg-2 text-center d-none d-xl-block">
      <div class="header-logo1">
       <a href="index.html"><img src="static/picture/logo-2.png" alt="Zocker"></a>
      </div>
     </div>
     <div class="col-md-4 col-lg-5 d-none d-xl-block">
      <div class="header-right d-flex align-items-center justify-content-end">
       <a href="#" class="vs-btn outline1 d-none d-xl-inline-block"><i class="fab fa-steam"></i><strong>&nbsp;Goto Steam</strong></a>
       <ul class="header-list1 list-style-none ml-30">
        <li><button class="searchBoxTggler"><i class="fas fa-search"></i></button></li>
        <li><button class="sideMenuToggler"><i class="fas fa-user-alt"></i></button></li>
       </ul>
      </div>
     </div>
    </div>
   </div>
  </div>
 </header>
</div>
<!--公共头部 vueapp结束-->


<!--内容1开始  TODO：修改完善完成相应的功能-->
<div id="teachapp">
 <div class="breadcumb-wrapper breadcumb-layout1 pt-200 pb-50" data-bg-src="assets/img/breadcumb/breadcumb-1.jpg" data-overlay="">
  <div class="container z-index-common">
   <div class="breadcumb-content text-center">
    <h1 class="breadcumb-title h1 text-white my-0">教学</h1>
    <h2 class="breadcumb-bg-title">TEACHING</h2>
    <ul class="breadcumb-menu-style1 text-white mx-auto fs-xs">
     <li><a href="index.html"><i class="fas fa-home"></i>首页</a></li>
<!--     TODO:修改代码完成目标-->
     <li class="active">{{classname}}-{{tagname}}</li>
<!--     TODO:结束-->
    </ul>
   </div>
  </div>
 </div>
 <section class="vs-product-wrapper vs-product-layout2 space-top newsletter-pb">
   <div class="container">
    <div class="row">
     <div class="col-lg">
      <div class="row" v-if="this.tag===''">
       <div class="col-sm" >
        <div class="vs-product">
         <div class="product-img">
       <img :src="map" class="w-100" alt="Product Image">
         </div>
        </div>
       </div>
      </div>
      <div class="row" v-if='this.tag==="dw"'>
       <div class="col-sm-6" v-for="(item,index) in dwList" :key="index" >
        <div class="vs-product">
         <div class="product-img">
         <img :src="item.tImg" class="w-100" alt="Product Image">
          <div class="cart-btn-group">
           <a v-bind:href="'teaching-details.html?'+this.teachurl+'&tId='+item.tId" class="vs-btn">点击查看详情</a>
          </div>
         </div>
         <div class="product-content">
          <h3 class="product-name text-normal font-theme fs-20 lh-base mb-2"><a class="text-inherit" href="teaching-details.html">{{item.tTitle}}</a></h3>
          <p class="fs-8 text-theme2" style="font-size: 14px">{{item.tDesc}}</p>
         </div>
        </div>
       </div>
      </div>
      <div class="row" v-if='this.tag==="dj"'>
       <div class="col-sm-6" v-for="(item,index) in djList" :key="index">
        <div class="vs-product">
         <div class="product-img">
       <img :src="item.tImg" class="w-100" alt="Product Image">
          <div class="cart-btn-group">
           <a v-bind:href="'teaching-details.html?'+this.teachurl+'&tId='+item.tId" class="vs-btn">点击查看详情</a>
          </div>
         </div>
         <div class="product-content">
          <h3 class="product-name text-normal font-theme fs-20 lh-base mb-2"><a class="text-inherit" href="teaching-details.html">{{item.tTitle}}</a></h3>
          <p class="fs-8 text-theme2" style="font-size: 14px">{{item.tDesc}}</p>
         </div>
        </div>
       </div>
      </div>
      <div class="row" v-if='this.tag==="jq"'>
       <div class="col-sm-6" v-for="(item,index) in jqList" :key="index">
        <div class="vs-product">
         <div class="product-img">
          <img :src="item.tImg" class="w-100" alt="Product Image">
          <div class="cart-btn-group">
           <a v-bind:href="'teaching-details.html?'+this.teachurl+'&tId='+item.tId" class="vs-btn">点击查看详情</a>
          </div>
         </div>
         <div class="product-content">
          <h3 class="product-name text-normal font-theme fs-20 lh-base mb-2"><a class="text-inherit" href="teaching-details.html">{{item.tTitle}}</a></h3>
          <p class="fs-8 text-theme2" style="font-size: 14px">{{item.tDesc}}</p>
         </div>
        </div>
       </div>
      </div>
      <div class="row" v-if='this.tag==="zs"'>
       <div class="col-sm-6" v-for="(item,index) in zsList" :key="index">
        <div class="vs-product">
         <div class="product-img">
          <img :src="item.tImg" class="w-100" alt="Product Image">
          <div class="cart-btn-group">
           <a v-bind:href="'teaching-details.html?'+this.teachurl+'&tId='+item.tId" class="vs-btn">点击查看详情</a>
          </div>
         </div>
         <div class="product-content">
          <h3 class="product-name text-normal font-theme fs-20 lh-base mb-2"><a class="text-inherit" href="teaching-details.html">{{item.tTitle}}</a></h3>
          <p class="fs-8 text-theme2" style="font-size: 14px">{{item.tDesc}}</p>
         </div>
        </div>
       </div>
      </div>
<!--      分页功能还没做不要动-->
      <div class="pagination-wrapper pagination-layout1 mt-lg-30 mb-30" v-if="this.tag==='dw' || this.tag==='dj' || this.tag==='jq' || this.tag==='zs'">
       <ul>
        <li><a href="#" class="active"><span class="text">1</span></a></li>
        <li><a href="#"><span class="text">2</span></a></li>
        <li><a href="#"><span class="text">3</span></a></li>
        <li><a href="#"><span class="text">4</span></a></li>
       </ul>
      </div>
<!--      分页结束-->
     </div>
     <div class="col-lg-4">
      <aside class="sidebar-area sticky-top overflow-hidden">
       <div class="widget widget_search">
        <form class="search-form">
         <input type="text" placeholder="Search Here"> 
         <button type="submit"><i class="far fa-search"></i></button>
        </form>
       </div>
       <h3 class="sidebox-title-v2 h5">栏目-{{tagname}}</h3>
       <div class="vs-sidebox-v2">
        <ul class="vs-cat-list1">
         <li><a @click="selectTab('dw')">点位 <span class="cat-number"><i class="fas fa-angle-right"></i></span></a></li>
         <li><a @click="selectTab('dj')">道具 <span class="cat-number"><i class="fas fa-angle-right"></i></span></a></li>
         <li><a @click="selectTab('zs')">战术 <span class="cat-number"><i class="fas fa-angle-right"></i></span></a></li>
         <li><a @click="selectTab('jq')">技巧 <span class="cat-number"><i class="fas fa-angle-right"></i></span></a></li>
        </ul>
       </div>
      </aside>
     </div>
    </div>
   </div>
  </section>
</div>
<!--内容1结束-->

<!--公共底部-->
  <section class="vs-newsletter-wrapper bg-dark z-index-step1">
   <div class="container">
    <div class="position-relative">
     <div class="inner-wrapper bg-black position-absolute top-50 start-50 translate-middle w-100 px-60 py-40">
      <div class="row align-items-center justify-content-center">
       <div class="col-xl-6 text-center text-xl-start mb-3 mb-xl-0">
        <span class="sub-title2 mt-2">订阅</span>
        <h2 class="mb-0 text-white">获取最新咨询</h2>
       </div>
       <div class="col-md-10 col-lg-8 col-xl-6">
        <form action="#" class="newsletter-style1 d-md-flex">
         <input type="email" class="form-control" placeholder="Enter email address">
         <button class="vs-btn gradient-btn">发送您的邮件地址</button>
        </form>
       </div>
      </div>
     </div>
    </div>
   </div>
  </section>
  <footer class="footer-wrapper footer-layout1 bg-fluid bg-major-black position-relative">
   <div class="bg-fluid d-none d-none d-xl-block position-absolute start-0 top-0 w-100 h-100" data-bg-src="assets/img/bg/footer-bg-1-1.jpg"></div>
   <div class="footer-widget-wrapper dark-style1 z-index-common">
    <div class="container">
     <div class="row justify-content-between">
      <div class="col-md-6 col-lg-3 col-xl-4">
       <div class="widget footer-widget pt-0">
        <h3 class="widget_title">关于我们</h3>
        <div class="vs-widget-about">
         <p class="about-text text-footer1 pe-xl-5">csgo2教学网是一个提供详细教学和指南的网站，旨在帮助玩家快速掌握游戏技巧和策略。通过这些教学内容，csgo2教学网旨在帮助玩家从新手成长为高手，无论是射击技巧、地图理解还是团队策略，都能得到全面的指导。</p>
         <div class="d-flex gap-2 text-white mt-45">
          <a class="icon-btn1 skew-right" href="#"><i class="fab fa-facebook-f"></i></a>
          <a class="icon-btn1 skew-right" href="#"><i class="fab fa-twitter"></i></a>
          <a class="icon-btn1 skew-right" href="#"><i class="fab fa-linkedin-in"></i></a>
          <a class="icon-btn1 skew-right" href="#"><i class="fab fa-youtube"></i></a>
         </div>
        </div>
       </div>
      </div>
      <div class="col-md-10 col-lg-7 col-xl-4">
       <img src="static/picture/logo-2.png">
      </div>
     </div>
    </div>
   </div>
   <div class="footer-copyright bg-black z-index-step1">
    <div class="container">
     <div class="row">
      <div class="col-xl-8 d-none d-xl-block">
       <div class="footer-menu">
        <ul>
        </ul>
       </div>
      </div>
      <div class="col-xl-4 align-self-center text-center py-3 py-xl-0 text-xl-end">
       <p class="text-light fw-bold text-bold mb-0">Copyright &copy; 2021.Company name All rights reserved.<a target="_blank" href="https://www.counter-strike.net/cs2">csgo2官网</a></p>
      </div>
     </div>
    </div>
   </div>
  </footer>
  <a href="#" class="scrollToTop icon-btn3"><i class="fas fa-angle-up"></i></a>
  <div class="vs-cursor"></div>
  <div class="vs-cursor2"></div>
  <script src="static/js/jquery-1.12.4.min.js"></script>
  <script src="static/js/app.min.js"></script>
  <script src="static/js/vscustom-carousel.min.js"></script>
  <script src="static/js/vs-cursor.min.js"></script>
  <script src="static/js/vsmenu.min.js"></script>
  <script src="https://ditu.google.cn/maps/api/js?key=AIzaSyDC3Ip9iVC0nIxC6V14CKLQ1HZNF_65qEQ"></script>
  <script src="static/js/map.js"></script>
  <script src="static/js/ajax-mail.js"></script>
  <script src="static/js/main.js"></script>
  <script src="static/vue/axios.min.js"></script>
  <script src="static/vue/vue.js"></script>
  <script src="static/vue/vue-router.global.js"></script>
<!--  头部实例-->
<script>
   const {createApp}  = Vue
   const App = createApp({
    methods: {
     getClassTab() {
      axios.get('http://localhost:8080/classtab?op=query')
              .then(res => {
               if (res.status === 200) {
                this.classtabList = res.data
               }

              })
     }
    },
    data(){
     return{
      classtabList: [],
      lId:'',
      isLoading: true,
      lIdname:'',
      newsList: [],
      tag:'dw'

     }
    },
    mounted(){
     this.getClassTab()
    },

   })
   App.mount('#vueapp')
   const teachApp = createApp({
    data(){
     return{
      tag:'',
      dt:'',
      tagname:'地图',
      map:{},
      teachList:{},
      tagList:[],
      dwList:{},
      jqList:{},
      djList:{},
      zsList:{},
      teachurl:'',
      classname:'',
      cId:'',

     }
    },
    mounted(){
     var teachurl = decodeURI(window.location.href.split('?')[1]);
     this.teachurl = teachurl
     console.log(teachurl)
     this.getteachlist()
     this.getClassTabname()
     this.getmapList()



    },
    methods:{
    getteachlist(){
      axios.get("http://localhost:8080/teaching?op=query&"+this.teachurl)
      .then(res=>{
       this.teachList = res.data
       console.log("teachList:")
       console.log(this.teachList)
      })
     },
     getClassTabname(){
     axios.get('http://localhost:8080/classtab?op=queryname&'+this.teachurl)
      .then(res=>{
       if(res.status === 200){
        this.classname = res.data[0].cCnname
        this.cId = res.data[0].cId
       }

      })
     },
     selectTab(tag){
      this.tag = tag
      if(tag==='dw'){
       const dwList1 = []
       this.teachList.forEach(item=>{
        console.log(item)
        if (item.tTag==='dw'){
         console.log("44444")
         dwList1.push(item)
        }

       })
       this.dwList=dwList1
       this.tagname = dwList1[0].tTagname
       console.log("dwList===========================")
       console.log(this.dwList)
     }
      if(tag==='dj'){
       const djList = []
       this.teachList.forEach(item=>{
        console.log(item)
        if (item.tTag==='dj'){
         djList.push(item)
        }
       })
       this.djList=djList
       this.tagname = djList[0].tTagname
      }
      if(tag==='zs'){
       const zsList = []
       this.teachList.forEach(item=>{
        console.log(item)
        if (item.tTag==='zs'){
         zsList.push(item)
        }
       })
       this.zsList=zsList
       this.tagname = zsList[0].tTagname
      }
      if(tag==='jq'){
       const jqList = []
       this.teachList.forEach(item=>{
        console.log(item)
        if (item.tTag==='jq'){
         jqList.push(item)
        }
       })
       this.jqList=jqList
       this.tagname = jqList[0].tTagname
      }

      },
     getmapList(){
     axios.get('http://localhost:8080/maps?op=query&'+this.teachurl)
      .then(res=>{
       if(res.status === 200){
        this.map = res.data[0].mImg
        console.log(this.map)
       }

      })
     }

     },



   })
   teachApp.mount('#teachapp')

  </script>

</body>
</html>